# Ignore node_modules in client folder
client/node_modules/

# Ignore dist folder in client folder
client/dist/

# Ignore .angular folder in client folder
client/.angular/

# Ignore node_modules in server folder
server/node_modules/

# Ignore dist folder in server folder
server/dist/
node_modules
